In [6]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

WARNING: You are using pip version 21.2.4; however, version 23.3.2 is available.
You should consider upgrading via the 'c:\users\asus\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [23]:
import pandas as pd
from datetime import datetime, timedelta

# Function to parse date and time in the specified format
def parse_datetime(dt_str):
    return datetime.strptime(dt_str, "%m/%d/%Y %I:%M %p")
file_path = 'Assignment_Timecard.xlsx'
df = pd.read_excel(file_path)
df

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number,Unnamed: 9,Unnamed: 10
0,WFS000054,Active,NaT,NaT,NaN,NaT,NaT,"SiWgh, PraGhjEM",54,NaN,NaN
1,WFS000065,Active,2023-09-12 10:08:00,2023-09-12 13:53:00,3:45,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,NaN,NaN
2,WFS000065,Active,2023-09-12 14:23:00,2023-09-12 19:02:00,4:39,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,NaN,NaN
3,WFS000065,Active,2023-09-13 10:08:00,2023-09-13 14:20:00,4:12,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,NaN,NaN
4,WFS000065,Active,2023-09-13 14:50:00,2023-09-13 20:44:00,5:54,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1479,WFS000589,Active,2023-09-20 09:55:00,2023-09-20 14:30:00,4:35,2023-09-10,2023-09-23,"WgAyeW, RayCEWd",589,NaN,NaN
1480,WFS000589,Active,2023-09-20 15:00:00,2023-09-20 19:29:41,4:29,2023-09-10,2023-09-23,"WgAyeW, RayCEWd",589,NaN,NaN
1481,WFS000589,Active,2023-09-21 09:56:00,2023-09-21 14:30:00,4:34,2023-09-10,2023-09-23,"WgAyeW, RayCEWd",589,NaN,NaN
1482,WFS000589,Active,2023-09-21 15:00:01,2023-09-21 19:16:05,4:16,2023-09-10,2023-09-23,"WgAyeW, RayCEWd",589,NaN,NaN
1483,WFS000591,Active,NaT,NaT,NaN,NaT,NaT,"ArveXE RECerE, AWdres JesAs",591,NaN,NaN

In [25]:

def calculate_time_difference(start_time, end_time):
    return (end_time - start_time).total_seconds() / 3600

In [32]:
def helper(file_path):
    df = pd.read_excel(file_path)
    consecutive_days = 7
    consecutive_days_mask = df['Time'].diff().dt.days.eq(1).rolling(consecutive_days).sum() == consecutive_days - 1
    employees_7_consecutive_days = df[consecutive_days_mask]
    print("Employees who have worked for 7 consecutive days:")
    print(employees_7_consecutive_days[['Employee Name', 'Position ID']])
    print("\n")

    df['time_difference'] = df['Time'].diff().fillna(timedelta(seconds=0))
    time_between_shifts_mask = (df['time_difference'] > timedelta(hours=1)) & (df['time_difference'] < timedelta(hours=10))
    employees_between_shifts = df[time_between_shifts_mask]
    print("Employees who have less than 10 hours of time between shifts but greater than 1 hour:")
    print(employees_between_shifts[['Employee Name', 'Position ID']])
    print("\n")

    max_hours_in_single_shift = 14
    long_shift_mask = df.apply(lambda row: calculate_time_difference(row['Time'], row['Time Out']) > max_hours_in_single_shift, axis=1)
    employees_long_shift = df[long_shift_mask]
    print("Employees who have worked for more than 14 hours in a single shift:")
    print(employees_long_shift[['Employee Name', 'Position ID']])
    print("\n")

In [31]:
file_path = 'Assignment_Timecard.xlsx'
helper(file_path)

Employees who have worked for 7 consecutive days:
Empty DataFrame
Columns: [Employee Name, Position ID]
Index: []


Employees who have less than 10 hours of time between shifts but greater than 1 hour:
        Employee Name Position ID
2     REsaXiaWE, XAis   WFS000065
4     REsaXiaWE, XAis   WFS000065
6     REsaXiaWE, XAis   WFS000065
8     REsaXiaWE, XAis   WFS000065
10    REsaXiaWE, XAis   WFS000065
...               ...         ...
1474  WgAyeW, RayCEWd   WFS000589
1476  WgAyeW, RayCEWd   WFS000589
1478  WgAyeW, RayCEWd   WFS000589
1480  WgAyeW, RayCEWd   WFS000589
1482  WgAyeW, RayCEWd   WFS000589

[691 rows x 2 columns]


Employees who have worked for more than 14 hours in a single shift:
                        Employee Name Position ID
1036  DeXgadiXXE REdarMe, ChrisMiaW S   WFS000523